<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="xap" type="XAP.BuiltIn.XapSection, XAP.BuiltIn" />
  </configSections>


  <!-- xap Configuration Section
    workerMode: "reporter": Runs only the Reporter stack 
                "router": Runs only the router stack 
                "reporter, router": Runs both the Reporter and worker stack 
    -->
  <xap workerMode="reporter, router">

    <!-- alertProperties 
    name: property name will be used for routing, case sensitive
    required: true if all reporters must populate this property
    validation: regex for validation of property value
    value: a default value for the property
    -->
    <alertProperties>
      <add name="priority" required="true" value="" validation="[1-5]" />
      <add name="title" required="true" value="" validation=".+" />
      <add name="description" required="true" value="" validation=".+" />
    </alertProperties>

    <!-- reporterTypes - Defines a list of reporter types to load.
    assembly: the short name of an assembly containing the type to load
    type: the full type name of the type to load
    -->
    <reporterTypes>
      <add assembly="XAP.BuiltIn" type="XAP.BuiltIn.TestableReporter" />
    </reporterTypes>

    <!-- checkpointManager - Defines the type of Checkpoint Manager to load.
    assembly: the short name of an assembly containing the type to load
    type: the full type name of the type to load
    -->
    <checkpointManager assembly="XAP.BuiltIn" type="XAP.BuiltIn.DistributedLockManager" />

    <persistenceManager assembly="XAP.BuiltIn" type="XAP.BuiltIn.TestablePersitenceManager" />

    <!-- queue - Defines the type of Alert Queue to load
    assembly: the short name of an assembly containing the type to load
    type: the full type name of the type to load
    -->
    <queue assembly="XAP.BuiltIn" type="XAP.BuiltIn.MemoryQueue" />

    <!-- actionTypes - Defines a list of Alert Action types to load
    assembly: the short name of an assembly containing the type to load
    type: the full type name of the type to load
    -->
    <actionTypes>
      <add assembly="XAP.BuiltIn" type="XAP.BuiltIn.TestableAlertAction" />
    </actionTypes>

    <!-- routeMany - Defines a list of routes to apply to Alert Instances,
    all matching routes will be applied in list order.
    -->
    <routeMany>
      <!-- route - Defines a route containing one or more matches and one or more actions.
      name: a friendly name for the route
      -->
      <route name="PriorityOneToThree" >
        <!-- matches - defines a set of match criteria, all matches must be true.
        property: the property name from alertProperties to match
        regex: a regex statement defining the match
        inverse: this match is true if the property value does not match the regex
        -->
        <matches>
          <match property="priority" regex="[1-3]" inverse="false" />
        </matches>
        <!-- actions - defines a set of actions to apply to the alert in list order 
        type: the full type name of a loaded action
        Optional: param - defines one or more parameters for this action instance
                  name: the name of the parameter
                  value: the value of the parameter.
        -->
        <actions>
          <action type="XAP.BuiltIn.TestableAlertAction" />
        </actions>
      </route>
    </routeMany>

    <!-- routeOne - Defines a list of routes to apply to Alert Instances,
    one matching route will be applied in list order.
    -->
    <routeOne>
      <!-- route - Defines a route containing one or more matches and one or more actions.
      name: a friendly name for the route
      -->
      <route name="PriorityThreeToFive" >
        <!-- matches - defines a set of match criteria, all matches must be true.
        property: the property name from alertProperties to match
        regex: a regex statement defining the match
        inverse: this match is true if the property value does not match the regex
        -->
        <matches>
          <match property="priority" regex="[3-5]" inverse="false" />
        </matches>
        <!-- actions - defines a set of actions to apply to the alert in list order 
        type: the full type name of a loaded action
        Optional: param - defines one or more parameters for this action instance
                  name: the name of the parameter
                  value: the value of the parameter.
        -->
        <actions>
          <action type="XAP.BuiltIn.TestableAlertAction" />
        </actions>
      </route>
    </routeOne>
  </xap>

  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true" >
        <listeners>
          <add name="svcmodel"/>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="svcmodel"/>
        </listeners>
      </source>
      <source name="AlertTraceSource"
              switchValue="Information, ActivityTracing">
        <listeners>
          <add name="alertxml"/>
        </listeners>
      </source>
      <source name="XapTraceSource"
        switchValue="Information, ActivityTracing">
        <listeners>
          <add name="enginexml"/>
        </listeners>
      </source>

    </sources>

    <sharedListeners>
      <add name="svcmodel"
           type="System.Diagnostics.XmlWriterTraceListener"
           initializeData="c:\temp\wcf.svclog" />
      <add name="enginexml"
            type="System.Diagnostics.XmlWriterTraceListener"
            initializeData="c:\temp\engine.svclog" />
      <add name="alertxml"
            type="System.Diagnostics.XmlWriterTraceListener"
            initializeData="c:\temp\alert.svclog" />
    </sharedListeners>
  </system.diagnostics>
</configuration>